.button {
    background: inherit;
    border: 0;
    color: #707C97;
    display: flex;

    display: flex;
    align-items: center;
    height: 10px;
}

.button:hover {
    color: black;
}

.text {
    margin-left: 8px;
    

    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
